{% extends 'master.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class='text-center'>
    <div>
        <h4 class='mt-4'>
            Welcome Kagarya site
        </h4>
    </div>
    <div>
        <p class='fs-6 fw-light m-4'>
            Create this site for study more drf and i want to have my own site.
            Then i think its greate idea to lern more about writing site better.
        </p>
    </div>
    <div class="card">
        <h5 class="card-header p-4">My Api urls</h5>
        <div class="card-body">

        {% for category in categorys %}
        <div>
            <h5 class="card-title">Accounts</h5>

            <table class="table table-success text-center">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Url</th>
                </tr>
                </thead>
                <tbody>
                {% for link in category.api_category.all %}
                    <tr>
                        <th scope="row">{{category.id}}</th>
                        <td>{{link.name}}</td>
                        <td>
                            <a href='{{link.url}}'>{{link.url_name}}</a>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                </tr>
                </tbody>
            </table>
        </div>
        {% endfor %}

        </div>
      </div>
    </div>

{% endblock %}
